In [1]:
import pandas as pd

In [2]:
#Top_5_csv = "./Data/Top_5.csv"
#Starting_pd = pd.read_csv(Top_5_csv)
#Starting_pd.head()
#State_names=["TN","TX","UT","VA","VT","WA","WI","WV","WY","SC","SD","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","AK","AL","AR","AZ","CA","CO","CT","DE","FL"]

In [3]:
#Final_df = pd.DataFrame(columns=["state","gender","year","name","amount"])
#for y in range(len(State_names)):
#    placeholder_df=Starting_pd[Starting_pd["state"]==State_names[y]].nlargest(5,"amount")
#    Final_df = pd.merge(Final_df, placeholder_df, how="outer")

In [4]:
#Final_df.to_csv("./Data/Bubble_Data.csv",index=False)

In [5]:
Allstates_csv = "./Data/allstates.csv"
Full_dataset_pd = pd.read_csv(Allstates_csv)
Full_dataset_pd.columns=["state","gender","year","name","amount"]

In [6]:
State_names=["TN","TX","UT","VA","VT","WA","WI","WV","WY","SC","SD","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","AK","AL","AR","AZ","CA","CO","CT","DE","FL"]

In [7]:
Names_pd=Full_dataset_pd.groupby(["state","name"])["amount"].sum().reset_index()
Names_pd.head()

  state     name  amount
0    AK  Aaliyah     179
1    AK    Aaron    1724
2    AK     Abby      26
3    AK     Abel      56
4    AK  Abigail     837

In [8]:
Final_df = pd.DataFrame(columns=["state","name","amount"])
for y in range(len(State_names)):
    placeholder_df=Names_pd[Names_pd["state"]==State_names[y]].nlargest(5,"amount")
    Final_df = pd.merge(Final_df, placeholder_df, how="outer")

In [9]:
Final_df.to_csv("./Data/Bubble_Data.csv",index=False)