In [1]:
import pandas as pd

In [2]:
NH_csv = "./Data/States/NH.csv"
NH_df = pd.read_csv(NH_csv, header=None)

NJ_csv = "./Data/States/NJ.csv"
NJ_df = pd.read_csv(NJ_csv, header=None)

NM_csv = "./Data/States/NM.csv"
NM_df = pd.read_csv(NM_csv, header=None)

NV_csv = "./Data/States/NV.csv"
NV_df = pd.read_csv(NV_csv, header=None)

NY_csv = "./Data/States/NY.csv"
NY_df = pd.read_csv(NY_csv, header=None)

OH_csv = "./Data/States/OH.csv"
OH_df = pd.read_csv(OH_csv, header=None)

OK_csv = "./Data/States/OK.csv"
OK_df = pd.read_csv(OK_csv, header=None)

OR_csv = "./Data/States/OR.csv"
OR_df = pd.read_csv(OR_csv, header=None)

PA_csv = "./Data/States/PA.csv"
PA_df = pd.read_csv(PA_csv, header=None)

RI_csv = "./Data/States/RI.csv"
RI_df = pd.read_csv(RI_csv, header=None)

In [3]:
print(NH_df.shape[0]+NJ_df.shape[0]+NM_df.shape[0]+NV_df.shape[0]+NY_df.shape[0]+OH_df.shape[0]+OK_df.shape[0]+OR_df.shape[0]+PA_df.shape[0]+RI_df.shape[0])

1247030

In [4]:
base_merge4_pd = pd.merge(RI_df,PA_df,how="outer").merge(OR_df,how="outer").merge(OK_df,how="outer").merge(OH_df,how="outer").merge(NY_df,how="outer").merge(NV_df,how="outer").merge(NM_df,how="outer").merge(NJ_df,how="outer").merge(NH_df,how="outer")
base_merge4_pd.shape

(1247030, 5)

In [5]:
base_merge4_pd.head()

    0  1     2         3    4
0  RI  F  1910      Mary  141
1  RI  F  1910     Helen   63
2  RI  F  1910  Margaret   55
3  RI  F  1910   Dorothy   54
4  RI  F  1910     Alice   45

In [6]:
merge4_pd=base_merge4_pd[base_merge4_pd[2]>=1959]

In [7]:
print(merge4_pd.shape)
merge4_pd.head()

(884339, 5)

       0  1     2      3    4
8860  RI  F  1959  Donna  357
8861  RI  F  1959  Susan  289
8862  RI  F  1959   Mary  258
8863  RI  F  1959  Karen  237
8864  RI  F  1959  Linda  230

In [8]:
merge4_pd.to_csv("./Data/31-40.csv",index=False, header=False)

In [9]:
MD_csv = "./Data/States2/MD.csv"
MD_df = pd.read_csv(MD_csv, header=None)

ME_csv = "./Data/States2/ME.csv"
ME_df = pd.read_csv(ME_csv, header=None)

MI_csv = "./Data/States2/MI.csv"
MI_df = pd.read_csv(MI_csv, header=None)

MN_csv = "./Data/States2/MN.csv"
MN_df = pd.read_csv(MN_csv, header=None)

MO_csv = "./Data/States2/MO.csv"
MO_df = pd.read_csv(MO_csv, header=None)

MS_csv = "./Data/States2/MS.csv"
MS_df = pd.read_csv(MS_csv, header=None)

MT_csv = "./Data/States2/MT.csv"
MT_df = pd.read_csv(MT_csv, header=None)

NC_csv = "./Data/States2/NC.csv"
NC_df = pd.read_csv(NC_csv, header=None)

ND_csv = "./Data/States2/ND.csv"
ND_df = pd.read_csv(ND_csv, header=None)

NE_csv = "./Data/States2/NE.csv"
NE_df = pd.read_csv(NE_csv, header=None)

In [10]:
print(MD_df.shape[0]+ME_df.shape[0]+MI_df.shape[0]+MN_df.shape[0]+MO_df.shape[0]+MS_df.shape[0]+MT_df.shape[0]+NC_df.shape[0]+ND_df.shape[0]+NE_df.shape[0])

1043807

In [11]:
base_merge3_pd = pd.merge(MD_df,ME_df,how="outer").merge(MI_df,how="outer").merge(MN_df,how="outer").merge(MO_df,how="outer").merge(MS_df,how="outer").merge(MT_df,how="outer").merge(NC_df,how="outer").merge(ND_df,how="outer").merge(NE_df,how="outer")
base_merge3_pd.shape

(1043807, 5)

In [12]:
merge3_pd=base_merge3_pd[base_merge3_pd[2]>=1959]

In [13]:
print(merge3_pd.shape)
merge3_pd.head()

(684728, 5)

        0  1     2         3     4
16393  MD  F  1959      Mary  1001
16394  MD  F  1959     Donna   821
16395  MD  F  1959     Karen   782
16396  MD  F  1959   Deborah   747
16397  MD  F  1959  Patricia   668

In [14]:
merge3_pd.to_csv("./Data/21-30.csv",index=False, header=False)

In [15]:
KY_csv = "./Data/States3/KY.csv"
KY_df = pd.read_csv(KY_csv, header=None)

LA_csv = "./Data/States3/LA.csv"
LA_df = pd.read_csv(LA_csv, header=None)

MA_csv = "./Data/States3/MA.csv"
MA_df = pd.read_csv(MA_csv, header=None)

GA_csv = "./Data/States3/GA.csv"
GA_df = pd.read_csv(GA_csv, header=None)

HI_csv = "./Data/States3/HI.csv"
HI_df = pd.read_csv(HI_csv, header=None)

IA_csv = "./Data/States3/IA.csv"
IA_df = pd.read_csv(IA_csv, header=None)

ID_csv = "./Data/States3/ID.csv"
ID_df = pd.read_csv(ID_csv, header=None)

IL_csv = "./Data/States3/IL.csv"
IL_df = pd.read_csv(IL_csv, header=None)

IN_csv = "./Data/States3/IN.csv"
IN_df = pd.read_csv(IN_csv, header=None)

KS_csv = "./Data/States3/KS.csv"
KS_df = pd.read_csv(KS_csv, header=None)

In [16]:
print(KY_df.shape[0]+LA_df.shape[0]+MA_df.shape[0]+GA_df.shape[0]+HI_df.shape[0]+IA_df.shape[0]+ID_df.shape[0]+IL_df.shape[0]+IN_df.shape[0]+KS_df.shape[0])

1231720

In [17]:
base_merge2_pd = pd.merge(KY_df,LA_df,how="outer").merge(MA_df,how="outer").merge(GA_df,how="outer").merge(HI_df,how="outer").merge(IA_df,how="outer").merge(ID_df,how="outer").merge(IL_df,how="outer").merge(IN_df,how="outer").merge(KS_df,how="outer")
base_merge2_pd.shape

(1231720, 5)

In [18]:
merge2_pd=base_merge2_pd[base_merge2_pd[2]>=1959]

In [19]:
merge2_pd.to_csv("./Data/11-20.csv",index=False, header=False)

In [20]:
TN_csv = "./Data/States4/TN.csv"
TN_df = pd.read_csv(TN_csv, header=None)

TX_csv = "./Data/States4/TX.csv"
TX_df = pd.read_csv(TX_csv, header=None)

UT_csv = "./Data/States4/UT.csv"
UT_df = pd.read_csv(UT_csv, header=None)

VA_csv = "./Data/States4/VA.csv"
VA_df = pd.read_csv(VA_csv, header=None)

VT_csv = "./Data/States4/VT.csv"
VT_df = pd.read_csv(VT_csv, header=None)

WA_csv = "./Data/States4/WA.csv"
WA_df = pd.read_csv(WA_csv, header=None)

WI_csv = "./Data/States4/WI.csv"
WI_df = pd.read_csv(WI_csv, header=None)

WV_csv = "./Data/States4/WV.csv"
WV_df = pd.read_csv(WV_csv, header=None)

WY_csv = "./Data/States4/WY.csv"
WY_df = pd.read_csv(WY_csv, header=None)

SC_csv = "./Data/States4/SC.csv"
SC_df = pd.read_csv(SC_csv, header=None)

SD_csv = "./Data/States4/SD.csv"
SD_df = pd.read_csv(SD_csv, header=None)

In [21]:
base_merge5_pd = pd.merge(TN_df,TX_df,how="outer").merge(UT_df,how="outer").merge(VA_df,how="outer").merge(VT_df,how="outer").merge(WA_df,how="outer").merge(WI_df,how="outer").merge(WV_df,how="outer").merge(WY_df,how="outer").merge(SC_df,how="outer").merge(SD_df,how="outer")
base_merge5_pd.shape

(1229791, 5)

In [22]:
merge5_pd=base_merge5_pd[base_merge5_pd[2]>=1959]

In [23]:
merge5_pd.to_csv("./Data/41-50.csv",index=False, header=False)

In [24]:
AK_csv = "./Data/States5/AK.csv"
AK_df = pd.read_csv(AK_csv, header=None)

AL_csv = "./Data/States5/AL.csv"
AL_df = pd.read_csv(AL_csv, header=None)

AR_csv = "./Data/States5/AR.csv"
AR_df = pd.read_csv(AR_csv, header=None)

AZ_csv = "./Data/States5/AZ.csv"
AZ_df = pd.read_csv(AZ_csv, header=None)

CA_csv = "./Data/States5/CA.csv"
CA_df = pd.read_csv(CA_csv, header=None)

CO_csv = "./Data/States5/CO.csv"
CO_df = pd.read_csv(CO_csv, header=None)

CT_csv = "./Data/States5/CT.csv"
CT_df = pd.read_csv(CT_csv, header=None)

DE_csv = "./Data/States5/DE.csv"
DE_df = pd.read_csv(DE_csv, header=None)

FL_csv = "./Data/States5/FL.csv"
FL_df = pd.read_csv(FL_csv, header=None)

In [25]:
base_merge1_pd = pd.merge(AK_df,AL_df,how="outer").merge(AR_df,how="outer").merge(AZ_df,how="outer").merge(CA_df,how="outer").merge(CO_df,how="outer").merge(CT_df,how="outer").merge(DE_df,how="outer").merge(FL_df,how="outer")
base_merge1_pd.shape

(1186524, 5)

In [26]:
merge1_pd=base_merge1_pd[base_merge1_pd[2]>=1959]

In [27]:
merge1_pd.to_csv("./Data/1-10.csv",index=False, header=False)

In [28]:
allstates_pd = pd.merge(merge1_pd,merge2_pd,how="outer").merge(merge3_pd,how="outer").merge(merge4_pd,how="outer").merge(merge5_pd,how="outer")
print(allstates_pd.shape)

(4147310, 5)

In [29]:
allstates_pd.to_csv("./Data/allstates.csv",index=False, header=False)